.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style-type: none;
  padding: 18px;
  bottom: 32px;
  flex-direction: column;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 50px;
}

.App-thread-container-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  vertical-align: center;
}

.App-thread-container-avatarcontainer {
  float: left;
  width: 50px;
}

.App-thread-container-comment {
  justify-content: center;
  background-color: #f3fdff;
  text-align: left;
  margin-left: 70px;
  color: #9eaab6;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}

.App-thread {
  background-color: #eef3f6;
}

h2 {
  color: #9eaab6;
}

.App-header {
  height: 30px;
}